
{{!< default}}


<main class="content" role="main">
<header>
    {{> "main-header"}}
</header>

    <div class="post-feed">
   {{#foreach posts}}
  {{> "post-card"}}
{{/foreach}}
</div>


    {{!-- {{pagination}} --}}

</main>